Magic 271485
Revision Verdi_V-2023.12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 29 1920 991 233 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/B103040045_HDL/hw1/code/pre_sim/6adder.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 60600.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 19

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/B103040045_HDL/hw1/code/pre_sim/6adder.fsdb"
addSignal -h 15 -UNSIGNED -HEX /testbench/input_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_b[31:0]
addSignal -h 15 -holdScope ci
addSignal -h 15 -holdScope CLK
addSignal -h 15 -UNSIGNED -HEX -holdScope answer[31:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /testbench/behavior/s_behavior[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/behavior_reg/s_behavior_reg[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dataflow/s_dataflow[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/dataflow_reg/s_dataflow_reg[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/structure/s_structure[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/structure_reg/s_structure_reg[31:0]
addGroup "G3"
addSignal -h 15 /testbench/behavior/co_behavior
addSignal -h 15 /testbench/behavior_reg/co_behavior_reg
addSignal -h 15 /testbench/dataflow/co_dataflow
addSignal -h 15 /testbench/dataflow_reg/co_dataflow_reg
addSignal -h 15 /testbench/structure/co_structure
addSignal -h 15 /testbench/structure_reg/co_structure_reg
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/B103040045_HDL/hw1/code/pre_sim/6adder.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testbench"

SCOPE_LIST_BEGIN
"/testbench"
"/testbench/behavior"
"/testbench/behavior_reg"
"/testbench/dataflow"
"/testbench/dataflow_reg"
"/testbench/structure"
"/testbench/structure_reg"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


